body {
margin: 0;
font-family: monaco
}

.sidebar {
height: 100%;
width: 15%;
position: fixed;
top: 0;
left: 0;
background-color: #111;
padding-top: 20px;
padding-bottom: 100px;
margin-bottom: 100px;
overflow-y: auto;
}

.sidebar a {
padding: 25px;
text-decoration: none;
font-size: 20px;
color: white;
display: block;
transition: 0.3s;
font-family: monaco;
}

.sidebar a.listt{
    padding: 5px;
    font-size: 14px;
}

.sidebar a:hover {
background-color: #444;
}

.content {
margin-left: 20%;
padding: 20px;
}

.navbar {
background-color: #333;
color: white;
text-align: center;
padding: 10px 0;
margin-left: 15%;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-family: monaco;
}

.navbar a:hover {
background-color: #555;
}

.outer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
/* Styling for the parent div */
.topics {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 90%;
    display: flex; /* Make the child divs flex items */
    flex-wrap: wrap; /* Spread child divs horizontally */
}

/* Styling for the child divs */
.box {
    /* width: calc(20% - 10px); Adjust the width as needed */
    width: 150px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 5px;
}

.box:hover{
    background-color: #f0f0ff;
}
.box-text {
    width: 90%; /*Adjust the width as needed*/
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 1px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
      font-family: monaco;
  }

.code-text-overflow {
    background-color: #003938;
    color: #faddcd;
    font-family: 'Courier New';
    width:80%;
    height:300px;
    white-space: pre-wrap;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.code-text {
    background-color:  #eff0f2;
    color:  #289114;
    font-family: 'Courier New';
    width:80%;
    white-space: pre-wrap;
    margin-left: auto;
    margin-right: auto;
}

li{
    font-family: monaco;
}
h1{
    font-family: monaco;
}
h2{
    font-family: monaco;
}
p{
    font-family: monaco;
}
h3{
    font-family: monaco;
}
h4{
    font-family: monaco;
}
mark{
    background-color: #f5fdff;
    color: green;
}
.important{
    background-color: #faddcd;
    color: green;
    display: inline-block;
}
.note-page {
    max-width: 800px; /* Or whatever width looks good on your blog */
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image and add some spacing */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: add a subtle shadow */
    border: 1px solid #ddd; /* Optional: add a border */
}
.pdf-link {
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 1.1em;
}

.pdf-container {
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
}